.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  background-color: #151c42;
  padding: 8px 20px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  transition: all 0.5s ease;
  display: block;
  margin-bottom: 10px;
}

.btn:hover {
  background: #960465;
  transition: all 0.5s ease;
}
